.form-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.form-header{
    text-align: center;
    margin-bottom: 25px;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.textarea-header{
    font: 20px/36px raleway-medium, sans-serif;
    text-align: left;
    display: block;
}
.slides li img {
    min-height: 100%;
    min-width: 100%;
}
.portfolio-item .item-wrap img {
   /*width: 330px;*/
    width: 100%;
}
.portfolio-item .item-wrap img {
  display: flex;
}

.wrapper_item{
     display: flex;
}
.columns{
     float: none !important;
}

.wrapper_item.second{
    justify-content: flex-end;
}
.wrapper_item.forth{
    justify-content: flex-end;
}
/*@media (min-width: 992px) {*/
    /*.slider-image{*/
        /*height: 600px;*/
        /*overflow: hidden;*/
    /*}*/
/*}*/


.margin:after{
    content: "";
    display: block;
    clear: both;
}

.margin{
    margin-top: 40px;
    margin-bottom: 40px;
}
.margin_left{
    margin-left: auto !important;
}
.activity-margin_bottom{
    margin-top: 20px;
}
.backgraund{
    background: rgba(84,74,74,0.8);

}
.backgraund-img{
    background: url(../images/myImage/image_8.jpg) no-repeat center/cover;
    box-shadow: inset 0 450px 500px -153px white;
    background-position: 51% 118%;
}
.navbar a{
    text-transform: uppercase;
}

.navbar li{
    border: 2px solid #222;
}
.navbar li:hover:nth-child(2n) > .border_top-right {
      border-top:1px solid white;
      border-right:1px solid white;
}
.navbar li:hover:nth-child(2n+1) > .border_bottom-left {
    border-bottom:1px solid white;
    border-left:1px solid white;
}
.header_position{
    position: relative;
}
.header-flex{
    height: 80px;
    display: flex;
    align-items: center;
}
.border_bottom-left{
    position: absolute;
    display:block;
    width: 30px;
    height: 30px;
    bottom: 0;
}
.border_top-right{
    position: absolute;
    display:block;
    width: 30px;
    height: 30px;
    right: 0;
}
.carousel_height{
}
.carousel.slide{
    z-index: 999;
}
.carousel-inner > .item >img{
    width: 100%;
    height: 100% !important;
    position: absolute;
    top:0;
    left:0;
}
.carousel-inner > .item{
    /*padding-bottom: 600px;*/
    height: 100vh;
    max-height: 100vh;
}
.personal-margin{
    margin-top: 25px;
    margin-bottom: 60px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo img {
    max-width: 250px;
    max-height: 250px;
}
.services-title{
    float: none !important;
    margin: 0 auto;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    font-size: 2em;
    color: white;
}
.text-style{
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.item-wrap:hover{
     color: white;
}
.effect{
    filter: grayscale(100%);
    transition: all 1.5s ease-in-out;
}
.item_1:hover , .item_2:hover, .item_3:hover{
    filter: grayscale(0);
}

.max-width{
    max-width: 200px;
}
@media screen and (min-aspect-ratio: 16/9) {
    .carousel-inner > .item >img{
        top:-50%;
        height: 150% !important;
    }
}
@media screen and (max-aspect-ratio: 16/14) {
    .carousel-inner > .item >img{
       height: 100% !important;
    }
}
@font-face {
    font-family: 'raleway-regular';
    src: url('fonts/raleway/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-medium';
    src: url('fonts/raleway/Raleway-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('fonts/raleway/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Citrica';
    src: url('fonts/myFonts/Uni Sans Thin.otf');
    font-weight: normal;
    font-style: normal;
}
.canvas{
    position: fixed;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}


.entry-header{
    font-size:25px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 8px;
}
.more-link > i {
    margin-left: 8px;
}
.post-content{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.82857143;
    color: #333;
}
.entry-header:hover > a {
    color: black !important;
}
.data{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #878282;
    margin-bottom: 6px;
    text-align: right;
    font-weight: 700;
}
.align{
    text-align: right;
}

.border{
    margin-bottom: 10px;
    padding-top: 30px;
    border-top: 1px dotted #615959;
}
.header-text{
    float: none !important;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
.header-padding{
    padding-top: 50px;
}
.row.border:first-child{
    border-top: none;
}
.topic_1 > .post-content > a:hover{
     color: black;
 }
.topic_2 > .post-content > a:hover{
    color: black;
}
.topic_3 > .post-content > a:hover{
    color: black;
}
.topic_4 > .post-content > a:hover{
    color: black;
}
.topic_1{
    position: absolute;
    left: -1120px;
    max-width: 1170px;
}
.topic_2{
    position: absolute;
    top: 258px;
    left: 1180px;
    min-width: 1170px;
}
.topic_3{
    position: absolute;
    top: 516px;
    left: -1120px;
    max-width: 1170px;
}
.topic_4{
    position: absolute;
    top: 774px;
    left: 1180px;
    min-width: 1170px;
}

.blog-entries{
    position: relative;
    padding-bottom: 960px;
}

.btn-style{
    /*height: 40px;*/
    border-radius: 15px !important;
    background-color: #f5f6f7 !important;
    width: 100%;
}
.btn-style:hover{
    background-color: #edf2f7 !important;
}
.btn-wrapper{
    margin-top: 20px;
}
.form-header{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    color: white;
    outline: none;
}
.input-style{
    height: 45px;
    border-radius: 0.5em ;
}

.wrapper-btn{
    /*margin-top: 20px;*/
}

.email-padding{
    padding-left: 35px !important;
}

.preloader{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1001;
    transition: 2s all;
    opacity: 1;
    visibility: visible;
}
.done{
    opacity: 0;
    visibility: hidden;
}
.loader{
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color:blue;
    left:50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: 1s spin infinite linear;
}

@keyframes spin {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

#go{
    position:absolute;
    top:200px;
}
#last{
    padding-bottom: 350px;
}

.input-style{
    width: 100% !important;
    padding: 24px !important;
    margin-bottom: 24px;
    background: #fff;
    border-radius: 50px !important;
    border: 1px solid transparent !important;
    color: #000 !important;
    font-size: 18px !important;
    font-weight: 500;
    text-align: center;
}
.form{
    min-width: 290px;
}

.btn-style{
    margin-bottom: 10px!important;
    background: #f5f6f7;
    padding: 12px 30px!important;
    border-radius: 50px!important;
    border: none!important;
    letter-spacing: 1px;
    font-size: 17px !important;
    color: #383637 !important;
    font-weight: 700 !important;
    /* text-align: center; */
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    transition: all 300ms ease;
}



body{
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color:#222222;
    /*padding: 25px 0px;*/
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}

footer ul li a{
    color:#b1aca1;
    padding:20px;
}

/*footer ul li a:hover{*/
    /*color:#7dabdb;*/
    /*text-decoration:none;*/
/*}*/

.footer-top{
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF !important;
    text-decoration:none;
}

/*.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{*/
    /*color:#7dabdb;*/
/*}*/

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
    font-size:12px;
    padding:15px 0 10px 0;
}
footer{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.menu{
    padding-bottom: 25px;
    padding-top: 25px;
}
.footer-top{
    background-color: #222;
}
.footer-link{
    background-color: #222;
}
.copyright{
    background-color: #222;
    color: #b1aca1;
}
*:active {
    outline: none;
}
.padding-form{
    padding-top: 200px;
    padding-bottom: 350px ;
}

.footer-top > .container a:hover{
    color: #b1aca1 !important;
    transition: all 0.2s ease-in-out;
}
.footer-top > .container a:hover > i{
    color: #b1aca1 !important;
    transition: all 0.2s ease-in-out;
}

/*.text-center:hover a{*/
    /*color:#b1aca1 !important;*/
/*}*/
/*.text-center:hover a > i {*/
    /*color:#b1aca1 !important;*/
/*}*/
.message-text{
    float: none !important;
    margin: auto !important;
    text-align: center !important;
    font-size: 14px;
    color: #3c3c3c;
    padding: 20px;
}

.message-text_title{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 42px;
}
 .footer-link .menu a{
     color: #9d9d9d;
     transition: all 0.5s ease-in-out;
}
.footer-link >.row a:hover{
    color: #a3b1af !important;
}

.wrapper-btn> button{
    outline: none !important;
}
#img_1{
    left:50%;
    position: absolute;
    top: -200px;
    transform: translate(-50%);
    transition: opacity 1s linear ;
    opacity: 0;
    z-index: 999;
    filter: grayscale(80%);
}
#img_2{
    left:50%;
    position: absolute;
    top: -200px;
    transform: translate(-50%);
    transition: opacity 1s linear ;
    opacity: 0;
    z-index: 999;
    filter: grayscale(80%);
}
#img_3{
    left:50%;
    position: absolute;
    transform: translate(-50%);
    top: -200px;
    transition: opacity 1s linear ;
    opacity: 0;
    z-index: 999;
    filter: grayscale(80%);
}
.personal-margin > #img{
    margin-top: 25px;
}
.thumbnail{
    text-align: center;
    /*background-color: #D2D8D8 !important;*/
    border: none !important;
}
.caption{
    padding-top: 255px !important;
}

.caption > h3 {
    font-size: 17px;
    color: #000;
}
.caption > p{
    font-size: 15px !important;
}
.section_title{
    text-transform: uppercase;
    color: #494949;
    font-size: 60px;
    text-align: center;
}
.color_text{
    color: white;
    /*font-family: 'Citrica',Sans-Serif;*/
}
.article-margin{
    margin-top: 45px;
    overflow: hidden;
}
.personal-background{


    /*padding: 50px 0;*/
    /*background-image: url(../images/myImage/image_11.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
}
/*.padding{*/
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
/*}*/

#text-caption_1{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#text-caption_2{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#text-caption_3{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
body{
 background:none !important;
}








.portfolio-item {
    position: relative;
}
.portfolio-item ::before,.portfolio-item :after{
    box-sizing: inherit;
    content: '';
    position: absolute;
    border: 3px solid transparent;
    width: 0;
    height: 0;
}
.portfolio-item ::before{
    top: 0;
    left: 0;
}
.portfolio-item ::after {
    bottom: 0;
    right: 0;
}
.portfolio-item :hover::before, .portfolio-item :hover::after {
    width: 100%;
    height: 100%;
}

.portfolio-item :hover::before {
    border-top-color: white;
    border-right-color: white;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    cursor: pointer;
}
.portfolio-item :hover::after {
    border-bottom-color: white;
    border-left-color: white;
    cursor: pointer;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}