
@font-face{
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.otf');
  font-weight: 700;
  font-style: normal;
}

@media screen and (min-width:1px){
    *{
      box-sizing: border-box;
      margin: 0;
    }
    .grid{
      width: 100%;
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      justify-items: center;
      grid-template-areas:
                "header"
                "content"
                "footer";
    }
    .header{
      width: 100%;
      grid-area:header;
      display: flex;
      height: 90px;
      font-size: 30px;
      align-items: center;
    }
    .burger{
      width: 60px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      color: gray;
    }
    .lg-pizza{
      display: none;
    }
    .wrapper{
      width: 100%;
    }
    .shopping{
      margin-left: auto;
      position: relative;
      width: 60px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      color: gray;
    }
    .whatsapp{
      width: 60px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      color: gray;
    }
    .logo{
      font-size: 48px;
      flex-grow: 1;
      text-transform: uppercase;
      width: 60px;
      display: flex;
      justify-content: center;
      cursor: default;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
    }
    .purchases-number{
      position: relative;
      cursor: pointer;
    }
    .categories{
    margin-bottom: 20px;
    }
    .number{
      position: absolute;
      left: 9px;
      top: 6px;
      font-size: 11px;
      background: yellow;
      border-radius: 94px;
      width: 17px;
      text-align: center;
      font-weight: bolder;
    }
    .main{
      grid-area: content;
      width: 100%;
    }
    .extra-column{
      min-height: 0;
    }
    .banner{
      background-image:url(../image/backgraund_2.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      min-width: 303px;
    }
    .banner-grid{
      margin-right: 20px;
      color: white;
      height: auto;
      cursor: default;
      display:grid;
      grid-template-columns:auto;
      grid-template-rows: auto;
      grid-template-areas:
              "window_1 window_2 window_2 window_2"
              "window_1 window_3 window_4 window_5"
              "window_1 window_6 window_7 window_7";
    }
    .label_{
      grid-area: window_1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      min-width: 200px;
    }
    .header-banner{
      grid-area: window_2;
      display: flex;
      color: white;
      border-bottom: 1px solid gray;
    }
    .name{
      font-size: 33px;
      font-family: 'Open Sans', sans-serif;
    }
    .kitchen{
      max-width: 280px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .rating{
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(200,200,200);
      font-size: 20px;
      margin-top: 13px;
      width: 88%;
      height: auto;
      max-width: 130px;
    }
    .color{
      color: gold;
    }
    .rating-number{
      margin-left: 4px;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .label-rating-wrapper{
      background: white;
      height: 200px;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      max-width: 160px;
      padding-bottom: 15px;
    }
    .cost{
      grid-area: window_3;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 25px;
    }
    .service{
      grid-area: window_4;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 25px;
      margin-right: 20px;
    }
    .time{
      grid-area: window_5;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 25px;
    }
    .cost_{
      font-size: 14px;
      font-weight: bold;
      text-transform:none;
      font-family: 'Open Sans', sans-serif;
    }
    .company-logo_5{
      max-width: 150px;
    }
    .service_{
      font-size: 14px;
      font-weight: bold;
      text-transform:none;
      font-family: 'Open Sans', sans-serif;
      color: rgb(160,212,70);
    }
    .time_{
      font-size: 14px;
      font-weight: bold;
      text-transform:none;
      font-family: 'Open Sans', sans-serif;
    }
    .pay-system{
      grid-area: window_6;
      font-size: 25px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-start;
      font-weight: bold;
    }
    .add{
      grid-area: window_7;
      display: flex;
      font-size: 10px;
      justify-content: flex-end;
      text-transform: uppercase;
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      align-items: center;
    }
    .pay-system {
       img{
         width: 40px;
       }
    }
    .symbol{
      font-size: 30px;
      margin-top: -7px;
      margin-left: 5px;
    }
    .pay-system-card{
      margin-top: -6px;
      margin-right: 5px;
    }
    .gray{
      color: gray;
      padding-left: 0px !important;
    }
    .menu{
      width: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: gray;
      margin-left: 25px;
      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .menu:hover{
       color: black;
        .position{
          display: block;
        }
    }
    .review{
      width: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: gray;
      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      height: 54px;
    }
    .review:hover{
      color: black;
         .position{
            display: block;
         }
    }
    .about{
      width: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: gray;
      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      height: 54px;
    }
    .about:hover{
      color: black;
      .position{
         display: block;
      }
    }
    .position{
      width: 100%;
      height: 5px;
      position: absolute;
      top: 49px;
      background: gold;
      display: none;
      left: 0px;
    }
    .navigation{
      display: flex;
      height: 55px;
      font-size: 15px;
      border-bottom: #c8c8c8 1px solid;
    }
    .rating{
      i{
        width: 20%;
        height: auto;
      }
    }
    .label-rating-wrapper{
      img{
        width: 88%;
        height: auto;
        max-width: 132px;
      }
    }
    .width{
      width: 100%;
        button{
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          background: white;
          font-size: 15px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
            i{
              margin-left: auto;
              color: #aaaaaa;
            }
        }
    }
    .information{
      max-width: 480px;
      margin: auto;
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      cursor: default;
    }
    .stock{
      display: flex;
      max-width: 440px;
      margin-bottom: 30px;
      align-items: center;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-left: 20px;
    }
    .stock-text{
      margin-left: 10px;
      max-width: 400px;
      color: gray;
    }

    .stock{
        img{
          width: 10%;
          height: auto;
        }
    }
    .food-header{
      flex-direction: column;
      display: flex;
      height: auto;
      background: rgb(251,249,248);
      align-items: flex-start;
      cursor: default;
    }
    .food-header_text{
      margin-left: 25px;
      font-size: 30px;
      margin-top: 19px;
      margin-bottom: 19px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }
    .pizza_1{
      display: flex;
      height: auto;
      min-height: 160px;
    }
    .row{
      .padding{
        padding: 0;
        background: white;
        min-height: 0;
        margin-bottom:15px;
      }
    }
    .pizza{
      margin-top: 10px;
      width: 152px;
    }
    .pizza-image{
      position: relative;
      margin-right: 20px;
    }
    .tape{
      position: absolute;
      left: -16px;
      top: -5px;
    }
    .text-pizza-description{
      margin-top: 10px;
      font-size: 12px;
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
        span:first-child{
          margin-bottom: 10px;
          display: inline-block;
          font-size: 15px;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif;
        }
        span:last-child{
          font-weight: 300;
          font-size: 13px;
          img{
            width: 10px;
            margin-left: 10px;
            margin-right: 5px;
            margin-bottom: 2px;
          }
        }
    }
    .footer-pizza-description{
      margin-top: 15px;
      display: flex;
      margin-right: 26px;
       span{
         font-size: 19px;
         margin-right: auto;
         font-weight: 700;
         font-family: 'Open Sans', sans-serif;
            span{
              font-size: 15px;
              font-weight: 300;
              font-family: 'Open Sans', sans-serif;
            }
       }
        button{
          background: rgb(155,212,63);
          border: none;
          outline: 0;
          width: 110px;
          height: 30px;
          border-radius: 4px;
          color: white;
          font-size: 15px;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
        }
    }
    .pizza_2{
      display: flex;
      height: auto;
      min-height: 160px;
    }
    .search-header{
      display: none;
    }
    .whatsapp_768{
      display: none;
    }
    .authentication-authorization{
      display: none;
      button:last-child{
        width: 120px;
      }
      button:hover{
        color: red;
        border-color: red !important;
      }
    }
    .food-delivery{
      display: none;
    }
    .rating-text{
      display: none;
    }
    .wrapper-stars{
      display: flex;
    }
    .text-cost_2{
      display: none;
    }
    .cost-image{
      display: none;
    }
    .text-service_2{
      display: none;
    }
    .service-image{
      display: none;
    }
    .pay-system-image{
      max-width: 43px;
    }
    .icon-wrapper{
        object:first-child{
          max-width: 55px;
        }
    }
    .time-text_2{
      display: none;
    }
    .cost-image{
      display: none;
    }
    .pay-system-text{
      display: none;
    }
    .status{
      display: none;
    }
    .header-banner-main{
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      margin-right: auto;
    }
    .navigation-grid{
     display: none;
    }
    .path{
      display: none;
    }
    .time-image{
      display: none;
    }
    .food-header-categories{
      display: none;
    }
    .extra-column{
      display: none;
    }
    .footer{
      display: none;
    }
    .footer-wrapper{
      display: flex;
      max-width: 1200px;
      width: 100%;
      margin: auto;
      justify-content: space-between;
      align-items: center;

    }
    .footer-wrapper{
      cursor: default;
         div:first-child{
           padding-left: 30px;
         }
          div:last-child{
        padding-right: 30px;
         }
    }
    .sum{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      span{
        font-weight: bold;
        font-size: 19px;
        padding-right: 7px;
        padding-left: 7px;
        font-family: 'Open Sans', sans-serif;
      }
    }
    .dishes-number{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      span{
        font-weight: bold;
        font-size: 19px;
        margin-left: 5px;
        font-family: 'Open Sans', sans-serif;
      }
    }
    .basket{
      display: flex;
      align-items: center;

      span{
        font-weight: 700;
        font-size: 19px;
        margin-left: 15px;
        font-family: 'Open Sans', sans-serif;
      }
      i{
        font-size: 40px;
        color: rgb(255,218,77);
        cursor: pointer;
      }
    }
    .money-rest{
      font-size: 10px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .button{
       button{
         width: 170px;
         height: 40px;
         background: rgb(255,219,77);
         font-weight: 400;
         outline: 0 !important;
         font-size: 15px;
         font-family: 'Open Sans', sans-serif;
       }
    }
    .text-cost_1{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .input-group{
      span{
        font-size: 20px;
      }
    }
    .icon-wrapper {
      display: flex;
      margin-bottom: 18px;
      margin-left: -4px;
    }
    .add-wrapper{
      display: flex;
      margin-bottom: 13px;
    }
    .symbol{
      i:hover{
         cursor: pointer;
      }
    }
    .company-logo_4{
      display: none;
    }
    .over-tape{
      display: none;
    }
  }
@media screen and (max-width:423px){
    .label_{
      display: none;
    }
    .menu {
      margin-left: 15px;
    }
    .about{
      margin-right: 15px;
    }
    .cost{
      margin-bottom: 10px;
    }
    .service{
      margin-bottom: 10px;
    }
    .pizza-image{
      margin-right: 0px;
    }
    .footer-pizza-description{
      margin-right: 9px;
    }
}
@media only screen and (min-width:768px){
    .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
      color: #333;
      background-color: white !important;
      border-color: #ccc !important;
      box-shadow: none !important;
    }
    .pay-system-image{
      max-width: 100%;
      float: left;
      margin-right: 5px;
    }
    .company-logo_4{
      display: block;
    }
    .icon-wrapper object:first-child {
       max-width:100%;
    }
    .rating{
      margin-top: 8px;
    }
    .kitchen{
      max-width: 100%;
    }
    .company-logo_5{
      display: none;
    }
    .label-rating-wrapper {
      max-width: 190px;
      height: 240px;
    }
    .add{
      justify-content: flex-start;
    }
    .label_{
      min-width: 260px;
      height: 305px;
    }
    .add-wrapper{
      margin-bottom: 0;
    }
    .service{
      margin-right: 0;
      margin-left: 10px;
    }
    .navigation-wrapper{
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: center;
      background: white;
    }
    .kitchen{
      font-size: 14px;
    }
    .icon-wrapper{
      display: flex;
      margin-bottom: 0;
    }
    .cost_, .service_, .time_{
      font-size: 15px;
    }
    .food-header-categories{
      display: none !important;
    }
    .container-fluid{
      width:100% ;
    }
    .search-header{
      display: block;
      width: 235px;
    }
     .whatsapp{
       display: none;
     }
    .shopping{
      display: none;
    }
    .burger{
      display: none;
    }
    .whatsapp_768{
      display: flex;
      font-size: 14px;
      align-items: center;
      margin: auto;
       i{
         font-size: 30px;
         color: gray;
       }
    }
    .logo{
      flex-grow:0;
      width: 140px;
    }
    .header{
      max-width:900px;
      margin: auto;
    }
    .header-wrapper{
      background: white;
    }
    .authentication-authorization{
      width: 210px;
      display: flex;
      justify-content: space-between;
        button{
          background: white !important;
          border: gray solid 1px !important;
          outline: 0 !important;
          width: 75px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
        }
    }
    .main{
      padding-bottom: 70px;
    }
    .telephone{
      margin-left: 8px;
      cursor: default;
      font-weight: bold;
      font-family: 'GothamPro', sans-serif;
    }
    .food-delivery{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85px;
       >span{
          font-size: 15px;
          margin-right:15px;
          cursor: default;
          font-weight: bolder;
          font-family: 'Open Sans', sans-serif;
       }
    }
    .wrapper{
      background-image:url(../image/backgraund_1.png);
      width: 100%;
      background-size: 100%;
    }
    .dropdown{
      display: flex;
       button{
         width: 160px !important;
         display: flex;
         align-items: center;
         justify-content: flex-end;
         outline: 0 !important;
          .caret{
            margin-left: auto !important;
          }
       }
    }
    .btn-group{
      .btn-group:first-child{
        width: 185px;
        button{
          width: 100%;
          text-align: right;
          font-size: 15px;
          padding-bottom: 10.5px;
          padding-top: 10.5px;
          padding-right: 0 !important;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
           i{
             margin-left: 15px;
             margin-right: 10px;
             color: rgb(170,170,170);
           }
        }
        button:hover{
          background: white;
          border-color:#ccc ;
          color: #aaaaaa;
        }
        button:focus{
          background: white !important;
          box-shadow: none!important;
          border-color:#ccc !important;
        }
        button:active{
          background: white;
          border-color:#ccc ;
        }
      }
    }
    .btn-group{
      .btn-group:last-child{
        width: 220px;
        button{
          width: 100%;
          text-align: right;
          font-size: 15px;
          padding-bottom: 10.5px;
          padding-top: 10.5px;
          padding-right: 0 !important;
          padding-left: 15px !important;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
          i{
            margin-left: 66px;
            margin-right: 15px;
            color: rgb(170,170,170);
          }
        }
        button:hover{
          background: white;
          border-color:#ccc ;
          color: #aaaaaa;
        }
        button:focus{
          background: white !important;
          box-shadow: none!important;
          border-color:#ccc !important;
        }
        button:active{
          background: white;
          border-color:#ccc ;
        }
      }
    }

    .input-group{
      display: flex !important;
      width: 100%;
        input{
          border-right: none;
          background: white;
          width: 230px;
          box-shadow: none;
        }
        input:focus{
          box-shadow: none;
          border-color: #ccc;
        }
       span{
         background: white;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 48px;
          i{
            color: rgb(170,170,170);
          }

       }
    }
    .rating-text{
      display: inline-block;
    }
    .rating{
      flex-direction: column;
    }
    .rating-number{
      margin-top: 4px;
    }
    .text-cost_1{
      display: none;
    }
    .text-cost_2{
      display: inline-block;
    }
    .cost-image{
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    .text-service_1{
      display: none;
    }

    .text-service_2{
      display: inline-block;
    }
   .service-image{
     display: inline-block;
     float: left;
     margin-right: 5px;
   }
    .time-text_1{
      display: none;
    }
    .time-text_2{
      display: inline-block;
    }
    .cost-image{
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    .banner-grid{
      grid-template-areas:
              "window_11 window_11 window_11 window_11"
              "window_1 window_2 window_2 window_2"
              "window_1 window_3 window_4 window_5"
              "window_1 window_9 window_9 window_10"
              "window_1 window_6 window_6 window_6";
    }
    .pay-system{
      grid-area: window_9;
      justify-content: flex-start;
      height: 70px;
      align-items: center;
    }
    .add{
      grid-area: window_10;
    }
    .pay-system-text_1{
      display: inline-block;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .pay-system-text_2{
      display: inline-block;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .pay-system-text{
      display: flex;
      flex-direction: column;
      font-size: 7px;
      margin-left: 7px;
      text-transform: none;
      line-height: 0.9;
    }
    .status{
      display: flex;
      color: #9bd43f;
      justify-content: flex-start;
      margin-top: 30px;
      i{
        margin-right: 6px;
        font-size: 20px;
      }
    }
    .header-banner{
      grid-area: window_2;
    }
    .navigation-grid{
      grid-area: window_6;
      border-bottom: none;
      height: auto;
      margin-top: 7px;
      display: flex;
      width: 410px;
      justify-content: center;
      font-size: 15px;
      align-items: flex-end;
    }
    .navigation{
      display: none;
    }
    .menu{
      margin-left: 0;
      background: white;
      height: 54px;
    }
    .review,.about{
      background: white;
    }
    .path{
       display: flex;
      grid-area: window_11;
      height: 60px;
      align-items: center;
      margin-left: 23px;
      border-bottom: 1px solid gray;
      cursor: pointer;
      font-size: 15px;
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
    }
    .path .path-point{
           i{
             margin-left: 12px;
             margin-right: 12px;
             color: gray;
           }
    }
    .information{
      max-width: 100%;
    }
    .categories{
      display: flex;
      max-width: 100%;
      background: #e8e8e8;
      height: 70px;
      align-items: center;
    }
    .search-header{
      margin-left: auto;
       .navbar-form{
         padding: 0;
       }
    }
    .width{
      width: auto;
      margin-left: auto;
      margin-right: 90px;
      button{
        width: 300px;
      }
    }
    .stock{
      display: none;
    }
    .search-header-categories{
      margin-left: 90px;
    }
    .time-image{
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    .pay-system img {
      width: 24%;
      max-width: 40px;
    }
    .food-header_text{
      margin-left: auto;
      margin-right: auto;
    }
    .pizza_1{
      flex-direction: column;
    }
    .pizza_2{
      flex-direction: column;
    }
    .text{
      display: none;
    }
    .text-pizza-description{
      display: flex;
        span{
          padding-left: 7px;
        }
    }
    .pizza-description{
      margin-top: auto;
      margin-bottom: 20px;
    }
    .pizza-image{
      margin-right: 0;
    }
    .pizza_1{
      min-height: 270px;
      max-width: 244px;
      margin: auto;
    }
    .pizza-size{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: gray;
      margin-top: 4px;

    }

    .pizza_2{
      min-height: 270px;
      max-width: 244px;
      margin: auto;
    }
    .row{
      margin: auto !important;
    }
    .padding{
      border: 1px solid #d6d6d6;
    }

    .text-pizza-description span:first-child{
      max-width: 173px;
      word-wrap: normal;
      max-height: 60px;
      overflow: hidden;
    }
    .footer{
      display: flex;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 70px;
      background: white;
      border-top: 2px solid rgb(255,218,77);
      z-index: 2;
    }
    .sum{
      span:last-child{
        display: flex;
        align-items: center;
        text-transform: none;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        padding-left: 0;
      }
    }
    .footer-pizza-description{
      margin-right: 0;
    }
    .sm-pizza{
      display: none;
    }
    .tape{
      display: none;
    }
    .pizza_1{
      max-width: 100%;
      min-height: 350px;
    }
    .pizza_2{
      min-height: 350px;
      max-width: 100%;
    }
    .text-pizza-description span:last-child {
      margin-left: auto;
    }
    .text-pizza-description span {
      padding-left: 0;
    }
    .pizza-description {
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    .flex-columns{
      min-height: 370px;
      display: flex;
    }
    .row .padding{
      margin-bottom: 0;
    }
    .lg-pizza {
      display: block;
    }
    .pizza-image {
      overflow: hidden;
    }
    .pizza {
      position: relative;
      left: -161px;
      width: 100%;
    }
    .pizza-image_2 {
      width: 100%;
      margin-top: 45px;
    }
    .pizza-image_3 {
      width: 100%;
      position: relative;
      left: -80px;
      margin-top: 10px;
    }
    .pizza-image_3 img {
      width: 153%;
    }
    .pizza-image_2 img {
      width: 97%;
    }
    .pizza img {
      width: 153%;
    }
    .text-pizza-description span:first-child{
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
    }
}
@media only screen and (min-width:992px){
    .pay-system{
      justify-content: flex-end;
    }
    .whatsapp_768{
       font-size: 15px;
    }
    .lg-pizza{
      display: block;
    }
    .sm-pizza{
      display: none;
    }
    .tape{
      display: none;
    }
    .label_{
       min-width: 300px;
    }
    .pay-system-text{
      min-width: 86px;
    }
    .add{
      justify-content: flex-end;
    }
    .pizza{
      width: 100%;
    }
    .over-tape{
      position: absolute;
      left: -22px;
      top: -7px;
      z-index: 1;
      display: block;
    }
    .pizza-size{
       min-width: 56px;
    }
    .banner-grid{
      grid-template-areas:
              "window_11 window_11 window_11 window_11 window_11"
              "window_1 window_2 window_2 window_2 window_2"
              "window_1 window_3 window_4 window_5 window_9"
              "window_1 window_6 window_6 window_6 window_10";
    }

    .header{
      max-width: 1200px;
    }
    .pizza-image{
      overflow: hidden;
    }
    .pizza{
      position: relative;
      left: -161px;
       img{
         width: 153%;
       }
    }
    .pizza-image_2{
      width: 100%;
      margin-top: 45px;
       img{
         width: 97%;
       }
    }
    .banner{
      max-width: 1200px;
      margin: auto;
    }
    .cost{
      min-width: 111px;
    }
    .categories{
     display: none;
    }
    .food-header-categories{
      display: block !important;
      width: 285px !important;
      .navbar-left{
        width: 285px !important;
      }
    }
    .food-header_text{
      display: flex;
      align-items: center;
      max-width: 1200px;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .search-header{
      margin-left: 0;
    }
    .food-header_text_{
      margin-left: 44px;
    }
    .form-group{
      width: 100% !important;
      .form-control{
        width: 100% !important;
      }
    }
    .information{
       display: none;
    }
    .container-fluid{
      max-width: 1200px;
      padding: 0px !important;
      width: 100%;
    }
    .extra-column{
      display: block;
    }

    .sidebar{
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-left: 30px;
      font-size: 15px;
      position: absolute;
      background: white;
      z-index: 1;
      left: -15px;
      min-width: 285px;
      padding-right: 35px;
    }
    .open{
      display: flex;
      flex-direction: column;
    }
    .margin{
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      i{
        color: gold;
        padding-left: 8px;
        padding-right: 5px;
      }
      div{
        margin-bottom: 8px;
        padding-left: 8px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
      }

      span{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        i{
          color: black;
          margin-left: auto;
        }
      }
      img{
        padding-right: 2px;
      }
    }
    .category-color{
      color: rgb(155,212,63);
    }
    .border{
        border-bottom: 1px solid gray;
    };
    .margin{
        div:last-child{
          color:#000000;;
        }
    }
    .row .padding{
       width: 280px;
       margin-left: 15px;
    }
    .pizza_2{
       min-height: 350px;
       max-width: 100%;
     }
    .pizza_1{
      min-height: 350px;
      max-width: 100%;
    }
    .flex-columns{
      display: flex;
      justify-content: flex-end;
      min-height: 370px;
      margin-bottom: 15px;
      margin-left: 284px;
    }

    .footer-pizza-description{
      margin-right: 0;
    }
    .text-pizza-description span{
      padding-left: 0;
    }
    .text-pizza-description span:last-child{
      margin-left: auto;
    }
    .text-pizza-description span:first-child{
      max-width: 173px;
      word-wrap: normal;
      max-height: 100px;
      overflow: hidden;
    }
    .footer-wrapper div:last-child {
      padding-right: 0;
    }
    .footer-wrapper div:first-child {
      padding-left: 0;
    }
    .bg{
      background: rgb(251,249,248);
    }
    .extra-column{
      width: 285px !important;
      border: none;
    }
    .pizza-description{
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    .footer-pizza-description span{
      padding-left: 0;
     }
   .pizza-image_3{
     width: 100%;
     position: relative;
     left: -80px;
     margin-top: 10px;
      img{
        width: 153%;
      }
   }
    .logo{
      margin-right: 70px;
    }

    .row .padding{
      margin-bottom: 0;
    }
    .pay-system{
      height: 80px;
    }
}
@media only screen and (min-width:1200px){
    .label_{
      min-width: 300px;
      height: 305px;
    }
    .label-rating-wrapper{
      max-width: 190px;
      height: 240px;
    }
    .label-rating-wrapper img{
      max-width: 142px;
    }
    .cost_, .service_, .time_ {
      font-size: 19px;
    }
    .banner-grid{
      margin-right: 45px;
    }
    .add{
      align-items: flex-end;
      padding-bottom: 24px;
    }
    .add-wrapper{
      display: flex;
    }
    .service{
      margin-left: 30px;
    }
    .time{
      margin-left: 20px;
    }
}
